body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.semestre {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 260px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.semestre h2 {
  text-align: center;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  background: white;
  padding: 5px 0;
}

.ramos {
  display: grid;
  gap: 10px;
}

.ramo {
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  background: #a7bfc7;
  color: black;
  font-weight: bold;
  transition: all 0.25s ease;
}

.ramo:hover:not(.bloqueado) {
  transform: scale(1.03);
}

.ramo.aprobado {
  background: #688391;
  color: white;
  text-decoration: line-through;
}

.ramo.bloqueado {
  background: #c8dfe2;
  color: #black;
  cursor: not-allowed;
}
